<!-- Modal content -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <span style="font-size:200%; font-weight:bold">Помощь проекту</span>
    </div>
    <div class="modal-body">
      <p>В моем проекте отсутствует реклама.  Пожалуйста, поддержите
      проекте.  Все способы поддержки доступны на странице <a href="/donation.html">поддержки</a>.</p>
    </div>
    <div class="modal-footer">
      <span style="font-size:200%; font-weight:bold">Спасибо</span>
    </div>
  </div> 
</div>

<script src="/js/modal-donation.js"></script>
